/* BROWER RESET */

/* Cancel out differences between browser defaults */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}
img {
  width: 100%;
}

/* == END BROWSER RESET =========================================== */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

}

p {
  padding: 1rem 1rem 1rem 1rem;
}

header {
  grid-column: span 3;
  padding: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.75em;
}

main {
  flex: 1;
  padding: 1.5rem;
  grid-row: 3;
  grid-column: 1 / 4;
  font-size: 1.125rem;
  text-align: center;
}

 #recording-list li {
  list-style-type: none;
 }


footer {
  grid-column: span 3;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;

}

img {
  display: block;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
}

.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     border: 2px solid;
     border-radius: 5px;
}

/* Mailing list */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#mailinglist {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Responsive media queries */

@media (min-width: 70rem) {
  .container {
    padding-left: 7.5em;
    padding-right: 7.5em;
  }
  main {
	padding-left: 6em;
    padding-right: 6em;
  }
}

@media (min-width: 51rem) {
  main {
    padding-left: 9em;
    padding-right: 9em;
  }
}
